@font-face {
  font-family: 'dillen';
  src: url('font/p.otf') format('truetype'),
}

@font-face {
  font-family: 'dillen-l';
  src: url('font/PortadaARA-Light.otf') format('truetype'),
}

@font-face {
  font-family: 'dillen-m';
  src: url('font/PortadaARA-Regular.otf') format('truetype'),
}

@font-face {
  font-family: 'dillen-b';
  src: url('font/PortadaARA-Semibold.otf') format('truetype'),
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: dillen-b;
}

::-webkit-scrollbar {
  width: 0px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes mot {
  0% {
    margin-right: 0px;
  }

  50% {
    margin-right: 100px;
  }

  100% {
    margin-right: 0px;
  }
}

@keyframes mott {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 100px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes txtline {
  0% {
    transform: scale(0.9);
    opacity: 0%;
  }

  100% {
    transform: scale(1.0);
    opacity: 80%;
  }
}

@keyframes bo {
  0% {
    bottom: -90%;
  }

  50% {
    bottom: -70%;
  }

  100% {
    bottom: -90%;
  }
}

@keyframes bob {
  0% {
    bottom: -105%;
  }

  50% {
    bottom: -95%;
  }

  100% {
    bottom: -105%;
  }
}

body {
  min-height: 100vh;
}

/* باکس اصلی = کل صفحه */
.page-box {
  background: radial-gradient(circle at top center,
      #FFFFFF 0%,
      #BFBFBF 70%);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: url('img/mouse.png'), auto;
}

.page-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/noiz-over.jpg");
  opacity: 100%;
  background-size: cover;
  background-position: center;
  z-index: 10;
  mix-blend-mode: screen;
}

.section-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/noiz-over.jpg");
  opacity: 20%;
  background-size: cover;
  background-position: center;
  z-index: 5;
  mix-blend-mode: screen;
}

.section-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/bac-3.jpg");
  opacity: 30%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* متن‌ها */
.text {
  position: absolute;
  color: #777;
  font-size: 40px;
  line-height: 80px;
  animation: txtline 1.5s ease-in-out;
}

.text.left {
  top: 15%;
  /* بالاتر رفت */
  left: 10%;
  text-align: left;
  opacity: 80%;
}

.text.right {
  bottom: 20%;
  /* پایین‌تر اومد */
  right: 10%;
  text-align: right;
  opacity: 0.8;
}

/* لوگو وسط */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  filter: drop-shadow(#919191 0px 3px 0px);
  cursor: url('img/link.png'), auto;
}
.bu-start {
  margin-top: 100px;
  font-size: 20px;
  line-height: 20px;
  color: #1D1C1B;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #FECC00;
  border-radius: 15px;
  filter: drop-shadow(#91919160 0px 3px 0px);
  cursor: url('img/link.png'), auto;
}
.logo img {
  width: 150px;
}

/* ابرها (بزرگ‌تر) */
.cloud {
  position: absolute;
  opacity: 0.95;
}

.cloud-1 {
  top: 60px;
  right: -100px;
  width: 700px;
  z-index: 11;
  animation: mot 5s infinite;
  opacity: 0.5;
}

.cloud-2 {
  bottom: 40px;
  left: -60px;
  width: 700px;
  animation: mott 4s infinite;
  opacity: 0.5;
}

.cloud-3 {
  bottom: -30px;
  right: 20px;
  width: 800px;
  animation: mot 6s infinite;
  opacity: 0.5;
}

/* مثلث */
.triangle {
  position: absolute;
  bottom: -150px;
  left: -170px;
  width: 500px;
  animation: rotate 2.5s infinite;
  filter: drop-shadow(#ffa600 0px 0px 150px);
}

/* دایره */
.circle {
  position: absolute;
  top: -200px;
  right: -200px;
  width: 600px;
  animation: rotate 2.5s infinite;
  filter: drop-shadow(#ffa600 0px 0px 150px);
  z-index: 10;
}

/* ===== Section Two ===== */
.section-two {
  position: relative;
  height: 100vh;
  background: radial-gradient(circle at top center, #222222 0%, #000000 50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url('img/mouse-b.png'), auto;
}

/* ستاره‌ها */
.star {
  position: absolute;
  width: 400px;
  opacity: 0.8;
  animation: rotate 2.5s infinite;
  filter: drop-shadow(#0D8BE8 0px 0px 150px);
}

.star-left {
  top: -150px;
  left: -150px;
  animation: rotate 2.5s infinite;
}

.star-right {
  bottom: -150px;
  right: -150px;
  z-index: 13;
}

/* کارت‌ها */
.cards {
  display: flex;
  gap: 60px;
  z-index: 5;
}

.card {
  width: 280px;
  background: linear-gradient(180deg, #242a33, #1b1f26);
  border-radius: 15px;
  background-size: cover;
  box-shadow: #00000080 0px 0px 50px;
  transition: 0.4s ease;
  cursor: url('img/link.png'), auto;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* افکت هاور */
.card:hover {
  transform: translateY(-20px) scale(1.03);
}

/* دایره پایین */
.bottom-circle {
  position: absolute;
  bottom: -90%;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  opacity: 0.5;
  filter: drop-shadow(#0D8BE8 0px 0px 150px);
  animation: bo 5s infinite;
}

.bottom-circle-b {
  position: absolute;
  bottom: -90%;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  opacity: 1.0;
  filter: drop-shadow(#0D8BE8 0px 0px 150px);
  animation: bob 5s infinite;
  z-index: 15;
}

/* ===== Section Three (Fixed) ===== */
.section-three {
  cursor: url('img/mouse-b.png'), auto;
  position: relative;
  height: 100vh;
  background: radial-gradient(circle at top center,
      #ffffff 0%,
      #d1d1d1 70%);
  overflow: hidden;
}

/* ستاره‌ها */
.star-blue {
  position: absolute;
  width: 350px;
  opacity: 0.9;
  animation: rotate 2.5s infinite;
  filter: drop-shadow(#0D8BE8 0px 0px 150px);
  z-index: 2;
}

.star-tl {
  top: -120px;
  left: -120px;
}

.star-br {
  bottom: -120px;
  right: -120px;
}

/* متن */
.ui-text {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 100%;
  z-index: 20;
}

.ui-text-b {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
  z-index: 20;
}

.ui-text-b p {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}

.ui-text p {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/* موکاپ‌ها – دقیقاً وسط */
.ui-mockup {
  position: absolute;
  margin-top: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  height: 620px;
  z-index: 10;
}

/* تصاویر */
.ui {
  position: absolute;
  width: 100%;
  border-radius: 15px;
}

/* لایه عقب */
.ui.back {
  transform: translate(0px, 0px) scale(1.0);
  opacity: 1.0;
  filter: drop-shadow(#00000020 3px 3px 20px);
}

/* لایه جلو */
.ui.front {
  transform: translate(-120px, 60px) scale(0.7);
  filter: drop-shadow(#00000020 3px 3px 20px);
  z-index: 2;
}

.cardmob {
  position: absolute;
  width: 0px;
  height: 0px;
}

.cardmob p {
  font-size: 0px;
  line-height: 0px;
}

/*موبایل*/
@media (max-width: 758px) {

  /* مثلث */
  .triangle {
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 300px;
    animation: rotate 2.5s infinite;
    filter: drop-shadow(#ffa600 0px 0px 150px);
  }

  /* دایره */
  .circle {
    position: absolute;
    top: -100px;
    right: -100px;
    width: 300px;
    animation: rotate 2.5s infinite;
    filter: drop-shadow(#ffa600 0px 0px 150px);
    z-index: 10;
  }

  .cloud-1 {
    top: 60px;
    right: -100px;
    width: 700px;
    z-index: 11;
    animation: none;
    opacity: 0.5;
  }

  .cloud-2 {
    bottom: 40px;
    left: -60px;
    width: 700px;
    animation: none;
    opacity: 0.5;
  }

  .cloud-3 {
    bottom: -30px;
    right: 20px;
    width: 800px;
    animation: none;
    opacity: 0.5;
  }

  .text {
    position: absolute;
    color: #777;
    font-size: 30px;
    line-height: 60px;
    animation: txtline 1.5s ease-in-out;
  }

  .text.left {
    top: 20%;
    /* بالاتر رفت */
    left: 10%;
    text-align: left;
    opacity: 80%;
  }

  .text.right {
    bottom: 20%;
    /* پایین‌تر اومد */
    right: 10%;
    text-align: right;
    opacity: 0.8;
  }

  .ui-text-b p {
    font-size: 0px;
    line-height: 0px;
  }

  .ui-text-b {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    z-index: 20;
  }

  /* کارت‌ها */
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 5;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    width: 20vh;
    background: linear-gradient(180deg, #242a33, #1b1f26);
    border-radius: 15px;
    background-size: cover;
    box-shadow: #00000080 0px 0px 50px;
    transition: 0.4s ease;
    cursor: url('img/link.png'), auto;
  }

  .cardmob {
    position: unset;
    margin-left: auto;
    margin-right: auto;
    width: 20vh;
    background: linear-gradient(180deg, #242a33, #1b1f26);
    border-radius: 15px;
    background-size: cover;
    box-shadow: #00000080 0px 0px 50px;
  }

  .cardmob p {
    margin-top: 40%;
    color: #ffffff;
    font-size: 1.7rem;
    line-height: 1.9rem;
    text-align: right;
    text-shadow: #ffffff 0px 0px 20px;
  }

  .bottom-circle {
    width: 250vw;
    animation: normal;
    bottom: -60%;
  }

  .bottom-circle-b {
    width: 0vw;
    animation: none;
    bottom: -95%;
  }

  .ui-mockup {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    z-index: 10;
  }

  /* تصاویر */
  .ui {
    position: absolute;
    width: 100%;
    border-radius: 15px;
  }

  /* لایه عقب */
  .ui.back {
    transform: translate(0px, 0px) scale(1.0);
    opacity: 1.0;
    filter: drop-shadow(#00000020 3px 3px 20px);
  }

  /* لایه جلو */
  .ui.front {
    transform: translate(-50px, 50px) scale(0.7);
    filter: drop-shadow(#00000020 3px 3px 20px);
    z-index: 2;
  }

  .ui-text p {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
  }

  .ui-text {
    position: absolute;
    bottom: 25%;
    text-align: center;
    width: 100%;
    z-index: 20;
  }

}

























.scroll-stage {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.scroll-wrapper {
  position: absolute;
  width: 100%;
  height: 400vh;
  /* 4 section */
}

.scene {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  will-change: transform, opacity;

  opacity: 0;
  transform: scaleX(1.1) scaleY(1.2);
  transition: transform 1s cubic-bezier(.22, .61, .36, 1), opacity 0.5s ease;

  pointer-events: none;
  /* اضافه شد */
}

.scene.active {
  opacity: 1;
  transform: scaleX(1);
  pointer-events: auto;
  /* تعامل برای صحنه فعال */
}

.scene.behind {
  transform: scaleX(1.1) scaleY(1.2);
}