*{
    margin: 0px;
    padding: 0px;
}
@font-face{font-family:'dillen';
    src:url('font/p.otf') format('truetype'),
}
body{
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;   
  user-select: none;     
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-family: dillen;
  background-color: #fdfeff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
::-webkit-scrollbar{
  width: 0px;
}
.head{
  margin-top: 25px;
  display: flex;
  background: linear-gradient(-45deg,#ffffff,#fdfeff50);
  backdrop-filter: blur(20px);
  width: 80%;
  height: 60px;
  box-shadow: #0e0e0e15 0px 3px 2px;
  position: fixed;
  align-items: center;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
}
.b-heed{
  margin-left: 25px;
  color: #000000;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.b-heed p{
  font-size: 15px;
  line-height: 25px;
  padding-right: 20px;
}
.gradient-text-t{
  margin-right: 25px;
  background: linear-gradient(-45deg, #ff0080, #7928ca,#0077ff,#0077ff);
  background-size: 400% 400%;
  animation: g 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  line-height: 25px;
  margin-left: auto;
}
.start-top{
  background: linear-gradient(-45deg, #ff0080, #7928ca,#0077ff,#0077ff);
  background-size: 400% 400%;
  animation: g 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  line-height: 25px;
}
.title {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px
}

.gradient-text {
  background: linear-gradient(-45deg, #ff0080, #7928ca,#0077ff,#0077ff);
  background-size: 400% 400%;
  animation: g 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  line-height: 40px;
}
.nothing{
  width: 100px;
  height: 100px;
}
.top-one{
  text-align: right;
  margin-left: auto;
}
.top-one p{
  font-size: 20px;
  line-height: 30px;
}
.start-dg{
  margin-top: 5px;
  background: linear-gradient(-45deg, #ff0080, #7928ca,#0077ff,#0077ff);
  background-size: 400% 400%;
  animation: g 10s ease infinite;
  border-radius: 100px;
  width: 200px;
  margin-left: auto;
  padding-bottom: 5px;
  box-shadow: #0e0e0e35 0px 2px 2px;
  text-align: center;  
}
.start-dg a{
  all: unset;
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
}
.line{
  background-color: #00000020;
  border-radius: 100px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 2px;
}
.vid-start{
  border: #00000050 solid 2px;
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 40px 60px 70px 30px / 30px 40px 60px 70px;
  animation: morph-2 6s ease-in-out infinite;
}
.img-box-bo{
  border: #00000050 solid 2px;
  width: 200px;
  object-fit: cover;
  height: 200px;
  border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
  animation: morph 6s ease-in-out infinite;  
}
.top{
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}
.img-rail{
  display: flex;  
  width: 50%;  
}
.v-plus{
  padding-bottom: 5px;
  text-align: center;
  background: radial-gradient(#ffffff,#ededed);
  border-radius: 5px;
  width: 100%;
  box-shadow: #0e0e0e35 0px 2px 2px;
  transition: all 0.7s ease-in-out;
}
.v-plus:hover {
  filter: contrast(1.2);  
}
.v-plus:not(:hover) {
  filter: contrast(1);
}
.v-plus-b{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  border-radius: 5px;
  width: 220px;  
}
.v-t{
  text-align: center;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
}
.v-i{
  text-align: center;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 17px;
  margin-left: auto;
  margin-right: auto;
}
.box-v-t{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}
.v-plus img{
  padding-top: 15px;
  width: 40px;
}
@keyframes g{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

@keyframes morph{
  0%{
    border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
  }
  50%{
    border-radius: 70% 30% 40% 60% / 60% 30% 40% 70%;
  }
  100%{
    border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
  }
}

@keyframes morph-2{
  0%{
    border-radius: 40px 60px 70px 30px / 30px 40px 60px 70px;
  }
  50%{
    border-radius: 70px 30px 40px 60px / 60px 30px 40px 70px;
  }
  100%{
    border-radius: 40px 60px 70px 30px / 30px 40px 60px 70px;
  }
}

.next-part{
  padding-bottom: 2%;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  text-align: center;
}
.box-v-t-plus{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: row-reverse;
}
.box-v-t-plus-b{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: row-reverse;
}
.titel-box-v{
  font-size: 30px;
  line-height: 50px;
  background: linear-gradient(-45deg, #ff0080, #7928ca,#0077ff,#0077ff);
  background-size: 400% 400%;
  animation: g 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
}
.info-box-v{
  font-size: 20px;
  line-height: 25px;
  text-align: right;  
}
.info-box-v-v{
  font-size: 20px;
  line-height: 25px;
  text-align: right;  
}
.box-v-t-plus-txt{
  width: 50%;
  max-width: 400px;
}
.box-v-t-plus-txt-b{
  width: 100%;
}
.v-plus-c{
  padding-bottom: 5px;
  text-align: center;  
  border-radius: 5px;
  width: 100%;
  box-shadow: #0e0e0e35 0px 2px 2px;
}
.v-plus-b-c{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  border-radius: 5px;
  width: 220px;
  color: #382a00;
}
.v-plus-c img{
  padding-top: 15px;
  width: 100px;
  filter: drop-shadow(#ffae00 0px 0px 15px);
}
.end-site{
  margin-top: 25px;
  background-color: #181818;
  width: 100%;
  height: 100px;
  border-radius: 25px 25px 0px 0px;
}
/*موبایل*/
@media (max-width: 767px
){
  .top-one{
      text-align: right;
  }
  .top-one p{
    font-size: 18px;
    line-height: 25px;
  }
  .title {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px
  }
  .gradient-text {
    font-size: 25px;
    line-height: 25px;
  }
  .start-dg{
    margin-top: 5px;
    width: 200px;
    margin-left: auto;
    padding-bottom: 5px;
    text-align: center;  
  }
.start-dg a{
    all: unset;
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
  }
  body{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .head{
    margin-top: 0px;
    width: 100%;
    height: 60px;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .info-box-v{
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .v-plus-b{
    margin-left: auto;
    margin-right: auto;
    width: 45%;  
  }
  .v-t{
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 3px;
    width: 90%;
  }
  .v-i{
    text-align: center;
    width: 90%;
    font-size: 13px;
    line-height: 15px;
  }
  .v-plus-b-c{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 45%;
  }
  .img-box-bo{
    display: flex;  
    width: 0px;
    height: 0px;
    border: 0px;
  }
  .img-rail{
    width: 0px;
    height: 0px;
  }
  .box-v-t-plus-txt{
    width: 100%;
  }
  .titel-box-v{
    text-align: center;
    line-height: 45px;
  }
  .info-box-v-v{
    font-size: 0px;
    line-height: 0px;
  }
}

