*{
    margin: 0px;
    padding: 0px;
}
@font-face{font-family:'dillen';
    src:url('font/p.otf') format('truetype'),
}
@font-face{font-family:'dillen-2';
    src:url('font/PortadaARA-Regular.otf') format('truetype'),
}
body{
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;   
    user-select: none;     
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: dillen;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;    
    background-color: #fefeff;
    background: linear-gradient(-180deg, #fdfdfd 30%,#ffebfc);

}
.front-top{
    background: linear-gradient(-45deg, #ff0080,#ff0037,#ff3e3e,#ff2e51);
    background-size: 400% 400%;
    animation: g 10s ease infinite;
    box-shadow: #00000035 0px 3px 6px;
    width: auto;
    border-radius: 0px 0px 25px 25px;
    padding-bottom: 20px;
}
.in-front-top::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("img/cover-test.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  pointer-events: none;
  animation: in-front-top 0.5s ease-out forwards;
}


.in-front-top{
    background: linear-gradient(-180deg, #ffffff 50%,#ffffff80);
    box-shadow: #00000015 0px 3px 6px;
    width: auto;
    border-radius: 0px 0px 70px 30px / 30px 40px 60px 70px;
    animation: morph-3 6s ease-in-out infinite;
    padding-bottom: 25px;
    position: relative;
    overflow: hidden;
}
.cover-box{
    width: 90%;
    max-width: 500px;
    height: 150px;
    overflow: hidden;
    border-radius: 40px 60px 70px 30px / 30px 40px 60px 70px;
    animation: morph-2 6s ease-in-out infinite;
    filter: drop-shadow(#00000035 0px 3px 6px);
    margin-left: auto;
    margin-right: auto;
}
.cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.kala-img-box{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: auto;
    transition: transform 0.2s ease,
    all 0.2s ease;
}
.kala-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.front-ti-txt{
    text-shadow: #ffffff50 0px 2px 5px;
    color: #ff0037;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    padding: 25px;
    position: relative;
    z-index: 1;
    animation: fadeInText 0.8s ease-out forwards;
}
.front-ti-txt-2{
    background: linear-gradient(-45deg, #ff0080,#ff0037,#ff3e3e,#ff2e51);
    background-size: 400% 400%;
    animation: g 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    padding: 25px;
    position: relative;
    z-index: 1;
}
.line-small{
    background-color: #ffffff;
    border-radius: 100px;
    width: 5%;
    height: 2px;
    opacity: 20%;
    margin-top: 2px;
    animation: line-small 0.5s ease-out forwards;
}
.next-title p{
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    animation: all-kala-color 0.5s ease-out forwards;
}
.next-title{
    width: 90%;
    margin-top: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.line{
    background-color: #00000020;
    width: auto;
    height: 2px;
    border-radius: 100px;
    margin-top: 12px;
    animation: line 0.5s ease-out forwards;
}
.next-part{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.next-part p{
    line-height: 18px;
    font-size: 18px;
    color: #202020;
    margin-left: auto;
    width: auto;
    text-align: right;
    white-space: nowrap;
    padding-left: 15px;
}
.all-kala{
    color: #000000;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; 
}
.buy-kala{
    display: flex;
    font-size: 18px;
    line-height: 20px;
    transition: transform 0.2s ease,
    all 0.2s ease;
    transition-delay: 0.2s;
    align-items: center;
}
.buy-kala p{
    animation: all-kala-color 0.5s ease-out forwards;
    transition: transform 0.2s ease,
    all 0.2s ease;
    transition-delay: 0.2s;
}
.toman{
    padding-top: 3px;
    margin-left: 5px;
    text-align: right;
    line-height: 10px;
    font-size: 13px;
    padding-right: 5px;
    color: #000000;
    animation: all-kala-color 0.5s ease-out forwards;
    transition: transform 0.2s ease,
    all 0.2s ease;
    transition-delay: 0.2s;
}
.kala{
    display: flex;
    margin-top: 15px;
    background-color: #f8f9ff;
    box-shadow: #ffffff 15px 15px 15px inset;
    width: 100%;
    height: auto;
    border-radius: 15px;
    filter: drop-shadow(#00000010 0px 2px 1px);
    padding: 5px;
    align-items: center;
    flex-direction: row-reverse;
    transition: transform 0.2s ease-in-out forwards,
    all 0.2s ease;
    transition-delay: 0.3s;
}
.title-kala{
    animation: all-kala-color 0.5s ease-out forwards;
    text-align: right;
    font-size: 15px;
    line-height: 20px;
    padding-right: 15px;
    padding-top: 0px;
    white-space: nowrap;
    transition: transform 0.2s ease,
    all 0.2s ease;
    transition-delay: 0.2s;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.line-r{
    background-color: #00000020;
    width: 2px;
    height: 40px;
    border-radius: 100px;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 0;
    transition: transform 0.2s ease,
    all 0.2s ease;
    transition-delay: 0.2s;
}
.rail-select-tab{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.tab{
    all: unset;
    background-color: #f8f9ff;    
    box-shadow: #ffffff 15px 15px 15px inset;
    filter: drop-shadow(#00000015 0px 2px 1px);
    width: 120px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 10px;
    flex-shrink: 0;
    margin-left: 0px;
    transition: all 0.4s ease-in-out;
}
.tab p{
    padding-right: 5px;
    margin-left: 5px;
    color: #000000;
    font-size: 13px;
    line-height: 13px;
    width: 100%;
    text-align: center;
    animation: tabp 0.5s ease-out forwards;
}
.icon-tab{
    background: linear-gradient(-45deg, #ff0080,#ff0037,#ff3e3e,#ff2e51);
    background-size: 400% 400%;
    animation: g 10s ease infinite;
    width: 40px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
}
.icon-tab img{
    padding: 5px;
    width: 30px;
    height: 30px;
}
.line-b{
    background-color: #00000020;
    width: 2px;
    height: 30px;
    border-radius: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
    flex-shrink: 0;
}
.rail-fee{
    display: flex;
    margin-left: 5%;
    width: 92%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.gradient-left,
.gradient-right {
  position: sticky;
  top: 0;
  width: 20px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  flex-shrink: 0;
}

.gradient-left {
  left: 0;
  background: linear-gradient(to right, #ffffff, transparent);
  height: 50px;

}

.gradient-right {
  right: 0;
  background: linear-gradient(to left, #ffffff, transparent);
  height: 50px;
  width: 2%;
}
.link-user-face{
    background-color: #ffffff20;
    box-shadow: #ffffff50 2px 2px 2px inset;
    filter: drop-shadow(#00000035 0px 2px 3px);
    border-radius: 100px;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 50px;
    align-items: center;
    text-align: center;
    display: flex;
    animation: morph-2 6s ease-in-out infinite;
}
.link-user-face-all{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 0px;
}
.link-user-face a{
    width: 40px;
    height: 40px;
    margin-right: 2%;
    margin-left: 2%;
}
.icon-user-face img{
    padding: 5px;
    width: 9%;
    max-width: 40px;
    filter: drop-shadow(#00000035 0px 2px 3px);
}
.box-select{
    margin-top: 15px;
    background: linear-gradient(-45deg, #ff0080,#ff0037,#ff3e3e,#ff2e51);
    background-size: 400% 400%;
    animation: g 10s ease infinite;
    filter: drop-shadow(#00000035 0px 2px 2px);
    width: 80%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.box-select p{    
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 20px 20px 0px;
    margin-left: auto;
}.box-select svg{
    padding-left: 20px;
}
.top-marg{
  height: 25vh;
  padding-top: 25vh;
}
.select-box{
  all: unset;
}


/*دکستاپ*/
@media (min-width: 758px){

    .tab{
        width: 220px;
        height: 40px;
    }

    .kala{
        margin-top: 15px;
        width: 47%;
        height: auto;
        padding: 5px;
        padding-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .all-kala{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

}

@media (max-width: 758px){
  ::-webkit-scrollbar{
    width: 0px;
  }
}




.sir-box{
  display: flex;
}

.sir-box img{
  width: 100px;
}

.sir-2{
  margin-right: 0%;
  animation: sir-2 2.2s ease-out forwards;
  filter: drop-shadow(#00000015 0px 2px 1px);
}
.sir-1{
  margin-left: 0%;
  animation: sir-1 2.2s ease-out forwards;
  transform: scalex(-1);
  filter: drop-shadow(#00000015 0px 2px 1px);
}
@keyframes sir-2 {
  0% {
    margin-right: 0%;
    margin-left: auto;
    opacity: 0;
  }
  15% {
    margin-right: 20%;
    margin-left: auto;
  }
  50% {
    margin-right: 20%;
    margin-left: auto;
  }
  75% {
    margin-right: 20%;
    margin-left: auto;
    opacity: 1;
  }
  100% {
    margin-right: 0%;
    margin-left: auto;
    opacity: 0;
  }
}
@keyframes sir-1 {
  0% {
    margin-left: 0%;
    margin-right: auto;
    opacity: 0;
  }
  15% {
    margin-left: 20%;
    margin-right: auto;
  }
  50% {
    margin-left: 20%;
    margin-right: auto;
  }
  75% {
    margin-left: 20%;
    margin-right: auto;
    opacity: 1;
  }
  100% {
    margin-left: 0%;
    margin-right: auto;
    opacity: 0;
  }
}

.kala p.active {
  color: #f8f9ff;
}
.kala-info{
  font-size: 0px;
  line-height: 0px;
}
.kala.active .kala-info {
  font-family: dillen-2;
  font-size: 18px;
  line-height: 22px;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  transition: transform 0.2s ease,
  all 0.2s ease;
}
/* ✅ حالت باز شده */
.kala.active {
  height: auto;
  display: block;
}
.kala.active .kala-img-box {
  margin-left: auto;
  overflow: hidden;
  width: 100%;
  height: 40vh;
  transition: transform 0.2s ease ease-in-out,
  all 0.2s ease;
}
.kala.active .title-kala {
  color: #f8f9ff;
  width: 0px;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  transition-delay: 0.0s;
}
.kala.active .line-r {
  width: 0px;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  transition-delay: 0.0s;
}

.kala.active .buy-kala {
  color: #f8f9ff;
  width: 0px;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  transition-delay: 0.0s;
}

.kala.active .toman {
  color: #f8f9ff;
  width: 0px;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  transition-delay: 0.0s;
}
.kala.active .toman p{
  color: #f8f9ff;
  transition-delay: 0.0s;
}


.kala.active .buy-kala p{
  color: #f8f9ff;
  transition-delay: 0.0s;
}





@keyframes line {
  0% {
    width: 90%;
    background-color: #00000000;
  }
  100% {
    width: 100%;
    background-color: #00000020;
  }
}


@keyframes all-kala-color {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes all-kala-color-b {
  0% {
    opacity: 0;
    filter: blur(1px);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    font-size: 30px;
    line-height: 35px;
  }
  100% {
    font-size: 30px;
    line-height: 35px;
  }
}
@keyframes fadeInText-2 {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes g{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
@keyframes morph-2{
  0%{
    border-radius: 40px 60px 70px 30px / 30px 40px 60px 70px;
  }
  50%{
    border-radius: 70px 30px 40px 60px / 60px 30px 40px 70px;
  }
  100%{
    border-radius: 40px 60px 70px 30px / 30px 40px 60px 70px;
  }
}
@keyframes morph{
  0%{
    border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
  }
  50%{
    border-radius: 70% 30% 40% 60% / 60% 30% 40% 70%;
  }
  100%{
    border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
  }
}
@keyframes g-2{
  0%{
    background-position: 0% 50%;
    border-radius: 0px 0px 70px 30px / 30px 40px 60px 70px;
  }
  50%{
    background-position: 100% 50%;
    border-radius: 0px 0px 40px 60px / 60px 30px 40px 70px;
  }
  100%{
    background-position: 0% 50%;
    border-radius: 0px 0px 70px 30px / 30px 40px 60px 70px;
  }
}

