:root {
    --body-background-basic: #192023;
    --background-main-gradient: linear-gradient(90deg, #96e2fece, #192023ce);
    --background-bu-gradient: linear-gradient(90deg, #192023ce, #96E2FEce);
    --text-color-1: #96E2FE;
    --text-color-2: #000000;
    --border-color: #2B3B43;
}

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: font, serif;
}

* a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

* button {
    cursor: pointer;
}

* select:focus {
    border: 0;
    color: #001F24;
}

@font-face {
    font-family: 'font';
    src: url('font/AradVF.ttf') format('truetype');
}

input::-webkit-input-placeholder {
    color: #ffffff50;
    opacity: 50%;
}

input::-moz-placeholder {
    color: #ffffff50;
    opacity: 50%;
}

::-webkit-scrollbar {
    width: 0;
}

@media (min-width: 758px) {
    body {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .circle {
        display: none;
    }
}

@keyframes rotate {
    0% {
        transform: scale(0.5) rotate(160deg);
    }

    100% {
        transform: scale(1.0) rotate(0deg);
    }
}

@keyframes rotate-min {
    0% {
        transform: scale(0.5) rotate(45deg);
    }

    100% {
        transform: scale(1.0) rotate(0deg);
    }
}

@keyframes opacity-start {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--body-background-basic);
    box-sizing: border-box;
}

.all {
    padding: 25px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.heed {
    display: flex;
    gap: 10px;
    z-index: 1;
}

.bu-med {
    width: 15vw;
    height: 15vw;
    max-width: 70px;
    max-height: 70px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: var(--border-color);
    box-shadow: #00000010 0 2px 0;
    border: 0;
}

.bu-med img {
    width: 6vw;
    max-width: 25px;
}

.profile-bu {
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
    width: 15vw;
    height: 15vw;
    max-width: 70px;
    max-height: 70px;
    border-radius: 100px;
    object-fit: cover;
}

.ui-shape {
    position: absolute;
}

.right {
    top: 50px;
    right: -130px;
    width: 60vw;
    max-width: 240px;
}

.left {
    top: 130px;
    left: -150px;
    width: 80vw;
    max-width: 320px;
}

.title-text {
    color: var(--text-color-1);
    font-size: clamp(20px, 8vw, 40px);
    line-height: clamp(20px, 8vw, 40px);
    font-weight: bold;
    padding-top: 70px;
}

.info-text {
    color: var(--text-color-1);
    font-size: clamp(10px, 5vw, 20px);
    line-height: clamp(20px, 8vw, 40px);
}

.hero {
    position: relative;
    overflow: hidden;
    height: 85vw;
    max-height: 355px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
}

.circle {
    border-top: var(--border-color) solid 5px;
    box-sizing: border-box;
    box-shadow: inset #96D1FE05 0px 15px 5px;
    position: absolute;
    background-color: var(--body-background-basic);
    width: 800px;
    height: 500px;
    border-radius: 100% 100% 0 0;
}

.box-main {
    margin: 50px 15px 15px 15px;
    background-color: var(--text-color-1);
    border-radius: 40px;
    width: 100%;
    height: 70vw;
    max-height: 300px;
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    z-index: 3;

}

.main-box {
    position: relative;
    background: var(--background-main-gradient);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 4;
    border-radius: 40px;
}

.shape-star {
    position: absolute;
    z-index: 1;
    animation: opacity-start 1.5s forwards;
}

.badge {
    border: none;
    width: 65px;
    height: 65px;
    background: url("img/shape-r.svg") center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin: 25px auto 0 25px;
    animation: rotate 0.5s forwards;
}

.badge img {
    width: 25px;
    animation: rotate 0.8s forwards;
}

.cover-main {
    margin: 25px;
    position: absolute;
    top: 0;
    width: 45vw;
    max-width: 200px;
    animation: rotate-min 0.9s forwards;
}

.title-main {
    position: absolute;
    margin: clamp(20px, 8vw, 40px);
    bottom: 0;
    left: 0;
    font-size: clamp(18px, 7vw, 30px);
    line-height: clamp(20px, 8vw, 40px);
    font-weight: bold;
    text-align: left;
    color: var(--text-color-2);
    animation: opacity-start 1.5s forwards;
}

.line-box {
    padding-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5%;
}

.line {
    background-color: var(--text-color-1);
    width: 5%;
    height: 1vw;
    max-height: 5px;
    border-radius: 100px;
}

.bu-big {
    margin-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--text-color-1);
    width: 100%;
    height: 15vw;
    min-height: 50px;
    max-height: 80px;
    border-radius: 40px;
    border: none;
}

.bu-big-over {
    backdrop-filter: blur(5px);
    position: absolute;
    background: var(--background-bu-gradient);
    width: 100%;
    height: 15vw;
    min-height: 50px;
    max-height: 80px;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.bu-big-over p {
    padding-right: 25px;
    font-size: clamp(15px, 7vw, 25px);
    line-height: clamp(15px, 7vw, 25px);
    font-weight: bold;
    color: var(--text-color-2);
}

.bu-big-over img {
    width: 8vw;
    max-width: 35px;
    margin-right: auto;
    margin-left: 25px;
}

.all-bu {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

/*اون دیالوگا که باز میشه*/
.overlay {
    position: fixed;
    inset: 0;
    background: #00000090;
    backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 3;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.sheet {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px 40px 0 0;
    transform: translateY(100%);
    transition: transform 0.3s;
    touch-action: none;
    z-index: 4;
    background-color: var(--body-background-basic);
    border-top: var(--border-color) solid 5px;
}

.sheet.active {
    transform: translateY(0);
}

.bu-dialog:hover{
    transform: scale(0.95);
}

.bu-download:hover{
    transform: scale(0.95);
}

.handle {
    width: 80px;
    height: 5px;
    background: var(--border-color);
    border-radius: 10px;
    margin: 10px auto;
}

.content {
    padding: 20px;
}

.title-dialog {
    color: var(--text-color-1);
    font-size: clamp(20px, 8vw, 40px);
    line-height: clamp(20px, 8vw, 40px);
    font-weight: bold;
    padding-right: 20px;
}

.bu-dialog {
    margin-top: 15px;
    width: 100%;
    height: 12vw;
    max-height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: var(--border-color);
    border: none;
    transition: all 0.3s;
}

.bu-dialog img {
    min-width: 10px;
    width: 6vw;
    max-width: 25px;
    padding-left: 15px;
    margin-right: auto;
}

.bu-dialog p {
    font-size: clamp(10px, 5vw, 20px);
    line-height: clamp(20px, 8vw, 40px);
    color: var(--text-color-1);
    padding-right: 15px;
    font-weight: bold;
}

.bu-download {
    margin-top: 15px;
    width: 100%;
    height: 12vw;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--text-color-1);
    border: none;
    transition: all 0.3s;
}

.bu-download img {
    filter: invert(100);
    min-width: 10px;
    width: 6vw;
    max-width: 25px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.bu-download p {
    font-size: clamp(10px, 5vw, 20px);
    line-height: clamp(20px, 8vw, 40px);
    color: var(--text-color-2);
    font-weight: bold;
}
.qr-code{
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}
.v-d{
    padding-top: 70px;
    padding-bottom: 30px;
    color: #96e2fe20;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}